* {
  margin: 0;
  padding: 100;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: azure;
}
body{
    background-color: black;
}
.texto{
    background-color: rgb(0, 0, 0);
    width: 1500px; /* Largura da caixa */
    padding: 20px; /* Espaço interno entre o texto e a borda */
    border: 1px solid #ccc; /* Borda para visualizar a caixa */
    margin: 20px; /* Espaço externo da caixa */
}