* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #f5f5f5;
}

body {
  background: linear-gradient(135deg, #1A237E, #0D47A1);
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 40px 20px;
  background: rgba(0, 0, 0, 0.4);
}

header h1 {
  font-size: 3rem;
  color: #ffeb3b;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
  color: #ddd;
}

.texto {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  max-width: 900px;
  padding: 30px;
  border-radius: 20px;
  margin: 50px auto;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

h1 {
  color: #ffeb3b;
  margin-top: 30px;
}

h2 {
  color: #ffe082;
  margin-top: 20px;
}

p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

img {
  max-width: 300px;   /* tamanho máximo */
  width: 100%;        /* se a tela for menor, a imagem reduz */
  height: auto;       /* mantém proporção */
  display: block;
  margin: 15px auto;  /* centraliza */
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}


footer {
  text-align: center;
  padding: 1px;
  background: rgba(0, 0, 0, 0.9);
  color: #bbb;
  font-size: 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #333;
}
